/* Base styles */
.containers {
  width: auto;
  margin: 2rem;
  margin-top: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
}

.images {
  display: flex;
  margin-left: 5rem;
  margin-top: 2.5rem;
}

.profile-image {
  margin-right: 1rem;
}
.personal {
  margin-left: 5rem;
  margin-top: 1.25rem;
}

.social {
  margin-left: 5rem;
  margin-top: 1.25rem;
}
/* Responsive styles */
/* for moble */
@media screen and (max-width:768px){
  .containers{
    width: 30rem;
  }
}